.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.input-container input[type="text"] {
  width: 93%;
  font-size: 1.50rem;
  text-align: center;
}

.input-container button {
  background-color: hsl(192, 95%, 68%);
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px;
}

.input-container button:hover {
  background-color: hsl(192, 95%, 72%);
}

.todos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos-container .todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  width: 100%;
}

.todo input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.todo button {
  border: none;
  border-radius: 2px;
  background-color: hsl(0, 100%, 60%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}

.todo button:hover {
  background-color: hsl(0, 100%, 65%);
}

.line-through {
  text-decoration: line-through;
}